[Unit]
Description=ZeroTier Tray
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/zerotier-tray
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
